@model IEnumerable<OOP_CA_Macintosh.Models.Grade>


<body>
    <header>
        <p class="nav-item">
            @if (User.IsInRole("Faculty") || User.IsInRole("Admin"))
            {
                <a class="nav-link text-dark" asp-area="" asp-controller="Grades"
                   asp-action="Create">Create</a>
            }
        </p>

    </header>

    <table class="table" , style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.coef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.coef)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @if (User.IsInRole("Faculty") || User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
