@model List<OOP_CA_Macintosh.Models.Grade>
<body>
    <header>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Grades"
               asp-action="Create">Create</a>
        </li>
    </header>

    <table class="table" , style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].StudentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].coef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Result)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coef)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
