@model List<OOP_CA_Macintosh.Models.Attendance>

<body>
    <header>
    </header>

    <table class="table" , style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].CourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Present)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Present)
                    </td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                </tr>
                
            }

        </tbody>
        
    </table>
</body>
